<div class="c-search">
  <div class="input-group">
    <input type="text" class="form-control" id="search" placeholder="Search by name, author or publication"/>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" id="search-button">
        <span class="glyphicon glyphicon-search"></span>
      </button>
      <button type="button" class="btn btn-default btn-advanced-search" data-toggle="dropdown" id="advanced-search-button" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-menu-down"></span>
      </button>
      <form class="dropdown-menu dropdown-menu-right panel panel-default" id="advanced-search" aria-labeledby="advanced-search-button">
        <div class="panel-body form-inline">

          <b>Name</b>
          <div class="row">
            <input type="text" class="form-control" id="family" name="family" placeholder="Family">
            <input type="text" class="form-control" id="genus" name="genus" placeholder="Genus">
            <input type="text" class="form-control" id="species" name="species" placeholder="Species">
          </div>
          <div class="row">
            <input type="text" class="form-control" id="infrafamilial" name="infrafamilial" placeholder="Infrafamilial">
            <input type="text" class="form-control" id="infrageneric" name="infrageneric" placeholder="Infrageneric">
            <input type="text" class="form-control" id="infraspecific" name="infraspecific" placeholder="Infraspecific">
          </div>

          <b>Author</b>
          <div class="row">
            <input type="text" class="form-control" id="author" name="author" placeholder="Standard form">
            <label class="checkbox-inline">
              <input type="checkbox" id="name-authors" value="name-author" checked/> Taxon Name Authors
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="basionym-authors" value="basionym-author" checked/> Basionym Authors
            </label>
          </div>

          <b>Publication</b>
          <div class="row">
            <input type="text" class="form-control" id="publication" name="publication" placeholder="Standard abbreviation">
            <input type="text" class="form-control" id="published" name="published" placeholder="Year Published" data-provide="datepicker" data-date-min-view-mode="years" data-date-format="yyyy" >
          </div>

            <b>Record Date</b>
            <div class="row">
              <input type="text" class="form-control" id="added since" name="added since" placeholder="Added since" data-provide="datepicker">
              <input type="text" class="form-control" id="modified since" name="modified since" placeholder="Modified since" data-provide="datepicker">
            </div>

            <button type="submit" class="btn btn-normal">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
