<div class="c-search">
  <div class="input-group">
    <input type="text" class="form-control" id="search" placeholder="Search by name, author or publication"/>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" id="search-button">
        <span class="glyphicon glyphicon-search"></span>
      </button>
      <button type="button" class="btn btn-default btn-advanced-search" data-toggle="dropdown" id="advanced-search-button" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-menu-down"></span>
      </button>
      <form class="dropdown-menu dropdown-menu-right panel panel-default" id="advanced-search" aria-labeledby="advanced-search-button">
        <div class="panel-body form-inline">
          <b>Plant Name</b>
          <div class="row">
            <input type="text" class="form-control" id="family" name="family" placeholder="Family">
            <input type="text" class="form-control" id="genus" name="genus" placeholder="Genus">
            <input type="text" class="form-control" id="species" name="species" placeholder="Species">
          </div>
          <div class="row">
            <input type="text" class="form-control" id="infrafamilial" name="infrafamilial" placeholder="Infrafamilial">
            <input type="text" class="form-control" id="infrageneric" name="infrageneric" placeholder="Infrageneric">
            <input type="text" class="form-control" id="infraspecific" name="infraspecific" placeholder="Infraspecific">
          </div>
          <div class="row">
            <input type="text" class="form-control" id="author-std-form" name="name author" placeholder="Name author standard form">
            <label class="checkbox-inline">
              <input type="checkbox" id="publishing-author-only" /> Publishing author only
            </label>
          </div>

          <div class="row">
            <input type="text" class="form-control" id="published-in" name="published in" placeholder="Published in publication">
          </div>

          <span class="help-block">Years must be specified in 'YYYY' format</span>
          <div class="row">
            <input type="text" class="form-control" id="year-published" name="published" placeholder="Year published" />
            <input type="text" class="form-control" id="published-before" name="published before" placeholder="Published before year" />
            <input type="text" class="form-control" id="published-after" name="published after" placeholder="Published after year" />
          </div>

          <span class="help-block">Dates must be specified in 'YYYY-MM-DD' format</span>
          <div class="row">
            <input type="text" class="form-control date" id="added-before" name="added before" placeholder="Records added before" />
            <input type="text" class="form-control date" id="added-after" name="added after" placeholder="Records added after" />
          </div>
          <div class="row">
            <input type="text" class="form-control date" id="modified-before" name="modified before" placeholder="Records modified before" />
            <input type="text" class="form-control date" id="modified-after" name="modified after" placeholder="Records modified after" />
          </div>

          <b>Author</b>
          <div class="row">
            <input type="text" class="form-control" id="author-forename" name="author forename" placeholder="Author forename">
            <input type="text" class="form-control" id="author-surname" name="author surname" placeholder="Author surname">
            <input type="text" class="form-control" id="author-std-form" name="author std" placeholder="Standard form">
          </div>

          <b>Publication</b>
          <div class="row">
            <input type="text" class="form-control" id="publication-abbrev" name="publication std" placeholder="Standard abbreviation">
            <input type="text" class="form-control" id="publication-title" name="publication" placeholder="Publication title">
          </div>

          <button type="submit" class="btn btn-normal search">Search</button>
          <button type="button" class="btn btn-normal clear">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
