{{#if results}}
  {{#each results}}
    {{#isType this "citation"}}
      {{> ../navigate/tmpl/name}}
    {{/isType}}
    {{#isType this "author"}}
      {{> ../navigate/tmpl/author}}
    {{/isType}}
    {{#isType this "publication"}}
      {{> ../navigate/tmpl/publication}}
    {{/isType}}
  {{/each}}
{{else}}
  <div class="no-results">No results. Please try a different search.</div>
{{/if}}
