/*
 * Component - Search
 */

@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid.scss';

@import 'search/css/tokenfield-typeahead.scss';
@import 'search/css/bootstrap-tokenfield.scss';

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #eee;
}

h4 {
  font-weight: bold;
}

dd {
  padding-left: 15px;
  padding-bottom: 5px;
}
.c-search-results {
  .panel {
    border: 0;
    border-top: inherit;
  }

  .panel-footer {
    height: 95px;
  }
}
.names-in-page {
  .section-title {
    padding-bottom: 10px;
  }
  .pagination {
    margin: 0px 0px;
  }
}

.glyphicon-in-title {
  font-size: 0.7em;
  margin-right: 10px;
}

.vertically-centred {
  min-height: 100%;
  min-height: 95vh;
  margin: 0;
}

.c-page-body {
  @media (max-width: $screen-sm-min){
    border-radius: 0px;
    padding-left: -15px;
    padding-right: -15px;
  }
}

.jumbotron {
  @media (max-width: $screen-sm-min){
    padding-top: 0px;
  }
}

.header-buttons {
  @media (max-width: $screen-sm-min){
    display: none;
  }
}

.expand-menu {
  @media (min-width: $screen-sm-min){
    display: none;
  }
}

.inline-block {
  display: inline-block;
}

.footer {
  padding: 15px 0;
  a {
    padding-left: 15px;
  }
}

.panel {
  margin-bottom: 0px;
}

.title {
  height: 175px;
  display: block;
  background-image: url('./img/ipni_logo_175.png');
  background-repeat: no-repeat;
  padding-left: 200px;
  padding-top: 55px;

  @media (max-width: $screen-sm-min) {
    font-size: 1.5em;
    background-size: contain;
    height: auto;
    padding:6px 0px 6px 85px;
    background-position: 15px 0;
  }

  a {
    cursor: default;
    color: $text-color;
  }

  a:hover, a:active, a:focus { text-decoration: none }
}

.collaborators {
  text-align: center;
  @include make-row();
}

.collaborator {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-bottom: 10px;
  @include make-md-column(3);
  @include make-md-column-offset(0.8);
}

.c-search {
  @include make-md-column(8);
  @include make-md-column-offset(2);
  position: relative;

  .tokenfield {
    background-color: #fff;

    .token {
      color: #000;
      margin: 0px 5px 5px -3px;

      .close {
        color: #000;
      }
    }

    .token-input {
      top: -4px;
    }
  }

  .suggestion-category {
    color: #ccc;
    float: right;

    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }

  input.token-input {
    background-color: transparent;
    top: -5px;
  }

  #search {
    width: 599px;
  }

  #advanced-search-button {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }

  #advanced-search {
    .form-control, .checkbox-inline {
      width: 30%;
      margin: 10px 0 10px 15px;
    }

    b {
      display: block;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }

    .btn {
      float: right;
      padding: 2px 5px;
      margin-left: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .btn {
    padding: 9px 12px 8px 12px;
  }

  .dropdown-menu {
    width: 730px;
    right: 0;
    @media (max-width: $screen-xs-min) {
      width: 100vw;
      right: -15px;
    }
  }
}

.blurb {
  font-size: .8rem;
  padding: 1em 0;
  display: block;
  clear: both;
}

.p-search, .p-name, .p-author, .p-publication, .p-static  {
  .content { @include make-row(); }

  .blurb { display: none };

  .title {
    @include make-md-column(4);
    font-size: 1.5em;
    background-size: contain;
    height: auto;
    padding: 6px 85px;
    background-position: 15px 0;

    a { cursor: pointer }
  }

  .c-search {
    margin: 20px 0;
    @include make-md-column(8);
  }

  &.jumbotron {
    padding: 10px 0;
  }

  .c-search {
    margin: 30px 0;
  }

  a.result {
    color: #ccc;
  }

  a.result.top-copy {
    color: #555;
  }
}

.chevron {
  width: 11px;
  height: 11px;
}

.filter-by {
  .disabled {
    opacity: 1;
    cursor: default;
  }
}

.c-pagination {
  display: inline;
}

.c-per-page {
  width: 200px;
  float: right;
  margin: 20px 0;
}

.results .label {
  background: transparent;
  margin: 3px 0 0 .9em;
  padding-right: 0;
}
.powo {
  font-weight: bold;
  color: rgba(147, 183, 112, 1)
}
.bhl {
  font-weight: bold;
  color: rgba(112, 147, 183, 1);
}

.btn.powo {
  background: #fff;
  border: 1px solid rgba(147, 183, 112, 0.5);
}

.btn.bhl {
  background: #fff;
  border: 1px solid rgba(112, 147, 183, 0.5);
}

.obscured {
  opacity: .4;
}

.invisible {
  opacity: 0
}

#c-page-body {
  h2 {
    margin: 0;
    display: inline;
  }
  .detail-heading .btn { margin: 5px 0 5px 5px }
}

.no-results {
  padding: 10%;
  font-size: 2rem;
  text-align: center;
}
