<footer class="footer">
  <div class="container">
    <a class="static-link" href="#">About</a>
    <a class="static-link" href="/contact">Contact Us</a>
    <a class="static-link" href="#">Help</a>
    <a class="static-link" href="/statistics">Statistics</a>
  </div>
</div>
