<footer class="footer">
  <div class="container">
    <a class="about-link" href="#">About</a>
    <a class="contact-link" href="/contact">Contact Us</a>
    <a class="help-link" href="#">Help</a>
  </div>
</div>
