<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>The International Plant Names Index</title>
    <link rel="icon" type="image/png" href="./img/ipni_favicon_16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="./img/ipni_favicon_32.png" sizes="32x32"/>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    {{> gtm }}
  </head>
  <body>
    <div class="jumbotron vertically-centred">
      <div class="container">
        <div class="content">
          <h1 class="title"><a href="/">International Plant Names Index</a></h1>
          <p class="blurb">Welcome to the Beta Test version of the new website for the International Plant Names Index (IPNI). We provide nomenclatural (spelling, author, types and first place and date of publication) information for the scientific names of Vascular Plants from Family down to infraspecific ranks. You can search for plant names, authors or publications in the search box below.  Click the down arrow for advanced search options.  New records are added daily, and we are continuously working to improve data standardization.</p>

          {{> search/tmpl/form }}

          <p class="blurb">We provide links to protologues in online articles or page scans from the <a href="http://www.biodiversitylibrary.org/">Biodiversity Heritage Library</a> as well as links to taxonomic data (synonymy and native distribution) through the <a href="http://powo.science.kew.org">Plants of the World Online</a></p>

          <p class="blurb">If you have any questions, comments or feedback the team would be happy to hear from you by email at <a href="mailto:ipnifeedback@kew.org">ipnifeedback@kew.org</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
