<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>The International Plant Names Index</title>
    <link rel="icon" type="image/png" href="./img/ipni_favicon_16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="./img/ipni_favicon_32.png" sizes="32x32"/>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="c-title">International Plant Names Index</h1>
        <p class="c-title">The International Plant Names Index (IPNI) is a database of the names and associated basic bibliographical details of seed plants, ferns and lycophytes. Its goal is to eliminate the need for repeated reference to primary sources for basic bibliographic information about plant names. The data are freely available and are gradually being standardized and checked. IPNI is a dynamic resource, depending on direct contributions by all members of the botanical community.</p>
        <div class="c-search">
          <div id="basic-search" class="form-inline">
            <input type="text" class="form-control" id="search" placeholder="Search by name, author or publication"/>
            <button type="button" class="btn btn-normal" data-toggle="collapse" data-target="#advanced-search" aria-expanded="false" aria-controls="advanced-search">
              Advanced <span class="glyphicon glyphicon-menu-down"></span>
            </button>
          </div>
        </div>
        <form class="collapse panel panel-default" id="advanced-search">
          <div class="panel-heading">Advanced Search</div>
          <div class="panel-body form-inline">

            <b>Name</b>
            <div class="row">
              <input type="text" class="form-control" id="family" name="family" placeholder="Family">
              <input type="text" class="form-control" id="genus" name="genus" placeholder="Genus">
              <input type="text" class="form-control" id="species" name="species" placeholder="Species">
            </div>
            <div class="row">
              <input type="text" class="form-control" id="infrafamilial" name="infrafamilial" placeholder="Infrafamilial">
              <input type="text" class="form-control" id="infrageneric" name="infrageneric" placeholder="Infrageneric">
              <input type="text" class="form-control" id="infraspecific" name="infraspecific" placeholder="Infraspecific">
            </div>

            <b>Author</b>
            <div class="row">
              <input type="text" class="form-control" id="author" name="author" placeholder="Standard form">
              <label class="checkbox-inline">
                <input type="checkbox" id="name-authors" value="name-author" checked/> Taxon Name Authors
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="basionym-authors" value="basionym-author" checked/> Basionym Authors
              </label>
            </div>

            <b>Publication</b>
            <div class="row">
              <input type="text" class="form-control" id="publication" name="publication" placeholder="Standard abbreviation">
              <input type="text" class="form-control" id="published" name="published" placeholder="Year Published"
                data-provide="datepicker"
                data-date-min-view-mode="years"
                data-date-format="yyyy" >
            </div>

            <b>Record Date</b>
            <div class="row">
              <input type="text" class="form-control" id="added since" name="added since" placeholder="Added since" data-provide="datepicker">
              <input type="text" class="form-control" id="modified since" name="modified since" placeholder="Modified since" data-provide="datepicker">
            </div>

            <button type="submit" class="btn btn-normal">Search</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
