<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>The International Plant Names Index</title>
    <link rel="icon" type="image/png" href="./img/ipni_favicon_16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="./img/ipni_favicon_32.png" sizes="32x32"/>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  </head>
  <body>
    <div class="jumbotron vertically-centred">
      <div class="container">
        <div class="content">
          <h1 class="title">International Plant Names Index</h1>
          <p class="blurb">The International Plant Names Index (IPNI) is a database of the names and associated basic bibliographical details of seed plants, ferns and lycophytes. Its goal is to eliminate the need for repeated reference to primary sources for basic bibliographic information about plant names. The data are freely available and are gradually being standardized and checked. IPNI is a dynamic resource, depending on direct contributions by all members of the botanical community.</p>
          {{> search/tmpl/form }}
        </div>
      </div>
    </div>
  </body>
</html>
