<div id="c-page-body" class="panel panel-default static">
  <div class="panel-heading detail-heading">
    Contact Us
  </div>
  <div class="panel-body">
    For comments and feedback on names, or technical issues, please contact the IPNI team at: <a href="mailto:ipnifeedback@kew.org">ipnifeedback@kew.org</a>
  </div>
</div>
