<div id="c-page-body" class="panel panel-default static">
  <div class="panel-heading detail-heading">
    <h2>Contact Us</h2>
  </div>
  <div class="panel-body">
    <h3>Thank you for taking the time to send feedback to the IPNI database.</h3>
    <p>For comments and feedback on names, or technical issues, please contact the IPNI team at: <a href="mailto:ipnifeedback@kew.org">ipnifeedback@kew.org</a></p>
    <p>We appreciate your queries as they help to improve the IPNI data for everyone.  We aim to respond to all queries as soon as possible but please be aware that we are a small team and some questions may take longer to research than others. If you are able to provide literature links (from e.g. BHL, GALLICA or Bibliotheca Digital), attach a PDF or attach an image of a protologue with your query then that will help us to answer more efficiently.  Thanks for your cooperation.</p>
  </div>
</div>
