<div id="c-page-body" class="panel panel-default static">
  <div class="panel-heading detail-heading">
    <h2>Statistics</h2>
  </div>
  <div class="panel-body">
    <div id="published-container"></div>
    <div id="added-container"></div>
    <div id="updated-container"></div>
    <div id="standardization-container"></div>
  </div>
</div>
